@model List<Digital_Library.BL.DTO.QuestionnarieDTO>
@using Digital_Library.BL.DTO


@for (int i = 0; i < Model.Count(); i++)
{
    var questionnarie = Model[i];
    <article class="coment main-article">
        <div class="card bg-light">
            <div class="card-body">
                <h2 class="card-title">@questionnarie.Title</h2>
                @using (Html.BeginForm("RegisterAnswer", "Questionnarie", new { questionnarieId=Model[i].Id }, FormMethod.Post))
                {
                    for (int j = 0; j < questionnarie.Questions.Count; j++)
                    {
                        var question = questionnarie.Questions[j];
                        var name = $"[{j}].Answers";
                        <div class="question">
                            <h3 class="card-subtitle">@question.Text</h3>
                            <ul>
                                @if (question.QuestionType.ToString().ToLower() == "TextBox".ToLower())
                                {
                                    <li>
                                        @Html.Hidden(name + $"[0].QuestionId", question.Id)
                                        @Html.TextBox(name + "[0].Text")
                                    </li>
                                }
                                else if (question.QuestionType.ToString().ToLower() == "RadioButtons".ToLower())
                                {
                                    for (int y = 0; y < question.AnswerVariants.Count; y++)
                                    {
                                        var ansverVar = question.AnswerVariants[y];
                                        <li>
                                            @Html.Hidden($"{name}[{y}].QuestionId", question.Id)
                                            @Html.Label($"{name}[{y}].Text", ansverVar.Text)
                                            @Html.RadioButton($"{name}[{y}].Text", ansverVar.Text)
                                        </li>
                                    }
                                }
                                else
                                {
                                    for (int y = 0; y < question.AnswerVariants.Count; y++)
                                    {
                                        var ansverVar = question.AnswerVariants[y];
                                        <li>
                                            @Html.Hidden($"{name}[{y}].QuestionId", question.Id)
                                            @Html.Label($"{name}[{y}].Text", ansverVar.Text)
                                            <input type="checkbox" name="@(name)[@y].Text" value="@ansverVar.Text">
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    }
                    <button class="btn" type="submit">Sumbmit</button>
                }

            </div>
        </div>
    </article>
}
