@model Digital_Library.PL.Models.QuestionnariesViewModel

@{
    ViewBag.Title = "Questionnaries";
}

<div class="comments" id="comments-target">
    @Html.Partial("_QuestionnariesPartial", Model.Questionnaries)
</div>
<div class="form-container card bg-secondary text-white main-article">
    <div class="card-body" id="add-form-target">
        <p class="form-name card-subtitle">Add questionnarie</p>
        @using (Ajax.BeginForm("AddQuestionnarie", null, new AjaxOptions { UpdateTargetId = "add-form-target", HttpMethod = "Post" }, new { @class = "vertiacl-from", id = "vertiacl-from" }))
        {
            @Html.ValidationSummary(true)
            @Html.TextBoxFor(m => m.NewQuestionnarie, new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(m => m.NewQuestionnarie, "", new { @class = "text-warning d-block" })
            <input type="submit" value="Create" class="btn btn-dark" />
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/bundles/validation")
}