@model Digital_Library.PL.Models.CommentsViewModel
@using Digital_Library.BL.DTO
@{
    ViewBag.Title = "Guest";
}

<div class="comments" id="comments-target">
    @Html.Partial("_CommentsPartial")
</div>
<div class="form-container card bg-secondary text-white main-article">
    <div class="card-body">
        <p class="form-name card-subtitle">Add comment</p>
        @using (Ajax.BeginForm("Index", null, new AjaxOptions { UpdateTargetId = "comments-target", HttpMethod = "Post" }, new { @class = "vertiacl-from", id = "vertiacl-from" }))
        {
            @Html.ValidationSummary(true)
            @Html.TextBoxFor(m => m.NewCommentAuthor, new { @class = "form-control", required = "required" })
            @Html.TextAreaFor(m => m.NewCommentText, new { @class = "form-control", required = "required" })
            <input type="submit" value="Submit" class="btn btn-dark" />
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
}